version: "3.9"

services:
  discord-bot:
    container_name: discord_bot
    build: .
    restart: unless-stopped
    env_file:
      - .env
    command: ["python", "bot.py"]
    environment:
      TIMEZONE: "Europe/Rome"

  upload-audio:
    container_name: discord_upload_audio
    build: .
    restart: "no"
    env_file:
      - .env
    environment:
      MULTIMEDIA_DIR: "multimedia"
      MAX_UPLOAD_SIZE: "8388608"
      DELAY_SECONDS: "1.0"
    volumes:
      - ./multimedia:/app/multimedia
    command: ["python", "upload_screenshots.py"]
